@model EnglishWord7000.Models.RegisterModel
 
<h2>Змяніць Пароль</h2>
 

<form asp-action="Password" asp-controller="Progress" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <input type="hidden" asp-for="Login" value="@ViewData["Name"]"/>
        </div>
        <div>
            <input type="hidden" asp-for="Email" value="@ViewData["Email"]"/>
        </div>
        <div>
            <label asp-for="Password">Увядзіце новый пароль</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Паўтарыце пароль</label><br/>
            <input asp-for="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"/>
        </div>
        <div>
            <input type="submit" style="background: #2a2e32; color: azure; border: 4px outset wheat;" value="Змяніць"/>
        </div>
    </div>
</form>
<form><button asp-action="Index">Вярнуцца</button></form>