@section Scripts {
    <script src="~/js/site.js"></script>
}
<div class="my_container">
    @Html.Raw(@ViewData["Page"])
</div>
<div class="my_buttons">
    <a asp-action="Index" asp-route-id="1">Next</a>
</div>