@model EnglishWord7000.Models.RegisterModel
 
<h2>Рэгістрацыя</h2>
 
<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Увядзіце Login</label><br/>
            <input type="text" asp-for="Login"/>
            <span asp-validation-for="Login"/>
        </div>
        <div>
            <label asp-for="Email">Увядзіце Email</label><br/>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email"/>
        </div>
        <div>
            <label asp-for="Password">Увядзіце пароль</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Паўтарыце пароль</label><br/>
            <input asp-for="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"/>
        </div>
        <div>
            <input type="submit" value="Рэгістрацыя"/>
        </div>
    </div>
</form>